<!DOCTYPE html>
<html>
<head>
    <title>Demande de Réinitialisation de Mot de Passe</title>
</head>
<body>
    <p>Bonjour {{ user.nom }},</p>
    <p>Nous avons reçu une demande de réinitialisation de votre mot de passe. Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous :</p>
    <p><a href="{{ reset_url }}">Réinitialiser le mot de passe</a></p>
    <p>Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez ignorer cet email.</p>
    <p>Merci,</p>
    <p>Votre équipe</p>
</body>
</html>
